*{
  text-align: center;
  text-transform: uppercase;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tic-tac-toe {
  
  display: grid;
  align-items: center;
  height: max-content;
  justify-content: center;
  
}

.square {
  background: #fff;
  border: 5px ridge #999;
  border-radius: 5px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

#try-again {
  margin-bottom: 5px;
}

h4{
  margin: 0 auto;
  padding-bottom: 15px;
}

.square:hover{
  cursor: pointer;
  transform: scale(1.2);
  border-radius: 5px;
  z-index: 1;
  box-shadow: 5px 5px 10px grey, -5px -5px 12px lightgrey;
  border: 1px solid grey;
}

.board-row:after {
  
  clear: both;
  content: '';
  display: table;
} 

#try-again {
  margin-top: 30px;
  border: 1px solid burlywood;
  padding: 10px;
  border-radius: 4px;
  background-color: bisque;
}

#try-again:hover {
  cursor: pointer;
  transform: scale(1.1);
  outline-offset: 3px;
  outline: solid 2px burlywood;
}